.titre {
  font-size: 36px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 0px;
  color: #ff6060;
}

.location {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin-top: 0px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  margin-top: 23px;
  margin-bottom: 26px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  .contenu {
    width: 45%;
  }

  .etoiles {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .titre-et-location,
  .host,
  .tags,
  .etoiles {
    width: 50%;
  }
}

.host {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  .nom {
    font-size: 18px;
    font-weight: 500;
    color: #ff6060;
    display: flex;
    align-items: center;
    width: 75px;
    display: flex;
    text-align: end;
  }

  .photo {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

@media (max-width: 1200px) {
  .flex {
    .titre-et-location {
      order: 1;
      width: 100%;
    }
    .host {
      order: 4;
    }
    .tags {
      order: 2;
      width: 100%;
    }
    .etoiles {
      order: 3;
      justify-content: flex-start;
    }

    .contenu {
      width: 100%;
    }
  }
}
