footer {
  background-color: black;
  color: white;
  padding-top: 66px;
  padding-bottom: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-bottom: 28.56px;
  }
}
