header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 50px;

  .logo {
    width: 210px;
    height: 68px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      li {
        list-style-type: none;
        margin-left: 77px;

        a {
          text-decoration: none;
          color: black;

          font-size: 24px;
          font-weight: 500;
          line-height: 34.22px;
          text-align: right;
          &:hover {
            border-bottom: 2px solid black;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  header {
    .logo {
      width: 145px;
      height: 46px;
    }
    nav {
      ul {
        padding: 0px;
        li {
          margin: auto;
          a {
            margin-right: 43px;
            font-size: 12px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
