.liste {
  flex-wrap: wrap;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;

  padding: 50px;

  border-radius: 25px;

  margin-top: 43px;
  background-color: #f6f6f6;
}

@media (max-width: 1200px) {
  .liste {
    grid-template-columns: 1fr;
  }
}
